# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
.conda/
.conda_env/


# ---- Logs ----
*.log

# ---- Notebooks ----
.ipynb_checkpoints/

# ---- OS junk ----
.DS_Store
Thumbs.db

# ---- IDEs / Editors ----
.vscode/
.idea/

# ---- Build / Distribution ----
build/
dist/
*.egg-info/
